@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Lobster', sans-serif;
    color: white;
}

.landing {
    height: 100vh;
    background-image: url(hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5rem;
    background-position: centergit agit;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-links li {
    margin-right: 1.2rem;
    padding-left: 5rem;
}

#logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 3rem;
}

.big-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 30%);
    font-size: 5rem;
    color: rgba(6, 6, 6, 0.9);
}

.intro {
    background: black;
    position: fixed;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    background: rgb(163, 193, 207);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
}

.intro-text {
    color: white;
    font-size: 3rem;
}

.hide {
    background-color: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(-100%);
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .nav-links li {
        padding: 0px;
    }
    .landing {
        padding: 0 2rem;
    }
}